@charset "UTF-8";

#ulReg{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.drop{
  display: inline-block;
}

.drop a{ 
  display: block;  
  padding: 14px 16px;
 
}

.drop-content{
  background-color: #f9f9f9;
  visibility: hidden;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0;
  z-index: 1;
  transform: translateY(-2em) translateX(-1.5em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.drop-content a { color: black; }

.drop:hover .drop-content{
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(-0.5em) translateX(-1.5em);
  transition-delay: 0s, 0s, 0.3s;
}

.drop-content a:hover { background-color: #f1f1f1; }

#index{
	transform: translateY(-4em);
}

.drop:hover #index{
	transform: translateY(-2em);
}

#locali{
	transform: translateY(-2em) translateX(-0.8em);
}

.drop:hover #locali{
	transform: translateY(-0.5em) translateX(-0.8em);
}