@charset "UTF-8";

a { text-decoration: none; }

input:not([type=radio]):not([type=checkbox]){
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background-color: #1350E9;
    color: white;
    width: 100%;
    padding: 10px;
}

img { vertical-align:middle; }

h1 img { vertical-align:top; }

body { 
	background-image:url(../../Images/sfondo.jpg);
	background-size:cover;
}

.manina { cursor: pointer; }

.nav{
	background-color: #0F4CCB;
    color: white;    
    padding: 10px;
	margin: 0px;
	cursor: pointer;
}

.navButton{
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.navButton.right{	
	transform: rotate(-45deg);
}

.navButton.left{	
	transform: rotate(135deg);
}
